.about {
	margin-bottom: 24px;
	padding-top: clamp-px(40, 80);

	&__container {
		overflow: hidden;
		max-width: 1150px;
		margin: 0 auto;
		padding: 0 clamp-px(8, 15);
	}

	&__info {
		max-width: 353px;
		margin: 0 auto;
		margin-bottom: clamp-px(30, 64);
		padding-top: 6px;

		text-align: center;
	}

	&__notes {
		@extend %notes-style;
	}

	&__title {
		@extend %title-style;

		margin: 20px 0;
	}

	&__descr {
		@extend %base-text-style;
	}

	&__box {
		display: flex;
		gap: clamp-px(12, 24);
		justify-content: space-between;
		margin-bottom: clamp-px(12, 24);
	}

	&__item {
		width: 100%;
		height: clamp-px(230, 343);
		padding: clamp-px(30, 52) clamp-px(8, 60);
		border-radius: $radius-large;
	}

	&__item--electro {
		margin-bottom: clamp-px(12, 24);
		background: url(../img/about/electro.webp),
			url(../img/about/electro-bg.webp), $color-input-bg;
		background-repeat: no-repeat;
		background-position: top right;
	}

	&__item--light {
		width: 80%;

		background: url(../img/about/light.webp), $color-input-bg;
		background-repeat: no-repeat;
		background-position: bottom right;
		background-size: 37%;
	}

	&__item--safe {
		background: url(../img/about/safe.webp), $color-input-bg;
		background-repeat: no-repeat;
		background-position: bottom right;
		background-size: 50%;
	}

	&__item--climate {
		background: url(../img/about/climate.webp), $color-input-bg;
		background-repeat: no-repeat;
		background-position: center right;
		background-size: 50%;
	}

	&__item--drapes {
		width: 80%;

		background: url(../img/about/drapes.webp), $color-input-bg;
		background-repeat: no-repeat;
		background-position: bottom right;
		background-size: 70%;
	}

	&__item--media {
		background: url(../img/about/media.webp), $color-input-bg;
		background-repeat: no-repeat;
		background-position: bottom right;
		background-size: contain;
	}

	&__content-title {
		@extend %title-style;

		margin-bottom: 16px;
	}

	&__list-item {
		@extend %base-text-style;

		list-style: disc;
		list-style-position: inside;
	}
}
