section.about#about
    .about__container
        .about__info
            span.about__notes функционал
            h2.about__title Что может умный дом?
            p.about__descr возможности, доступные при установке системы MimiSmart
        .about__item.about__item--electro    
            .about__content 
                h3.about__content-title Электрика
                ul.about__list 
                    li.about__list-item Управление розетками
                    li.about__list-item Сценарные выключатели
                    li.about__list-item Бесперебойное питание
                    li.about__list-item Стабилизация напряжения
                    li.about__list-item Молниезащита
        .about__box 
            .about__item.about__item--light
                .about__content 
                    h3.about__content-title Освещение
                    ul.about__list 
                        li.about__list-item Датчики движения
                        li.about__list-item Биодинамическое освещение
            .about__item.about__item--safe
                .about__content 
                    h3.about__content-title Безопасность
                    ul.about__list 
                        li.about__list-item Электрозамок
                        li.about__list-item Защита от протечек
                        li.about__list-item Охранная сигнализация
                        li.about__list-item Видеонаблюдение
                        li.about__list-item Домофония
        .about__box 
            .about__item.about__item--climate
                .about__content 
                    h3.about__content-title Климат-контроль
                    ul.about__list 
                        li.about__list-item Теплый пол
                        li.about__list-item Конвекторы
                        li.about__list-item Радиаторы
                        li.about__list-item Кондиционеры
                        li.about__list-item Вентиляция
                        li.about__list-item Увлажнение
            .about__item.about__item--drapes
                .about__content 
                    h3.about__content-title Шторы
                    ul.about__list 
                        li.about__list-item Работа по таймеру и в сценариях
                        li.about__list-item Управление со смартфона, голосом и клавишными выключателями
                        li.about__list-item Объединение в группы
        .about__item.about__item--media
            .about__content 
                h3.about__content-title Мультимедиа
                ul.about__list 
                    li.about__list-item Домашний кинотеатр
                    li.about__list-item Музыка в каждой комнате
                    li.about__list-item AirPlay
                    li.about__list-item Следящая музыка
                    li.about__list-item Голосовые сообщения 