section.control#control
    .container 
        .control__inner 
            .control__box
                .control__info 
                    span.control__notes управление
                    h2.control__title Управляй как удобно
                    p.control__descr удобное взаимодействие с домом
            .control__content 
                article.control__item 
                    .control__item-content 
                        h3.control__item-title Удобное приложение
                        p.control__item-descr Управление всей электроникой в доме с экрана телефона, планшета или часов
                    .control__picture.control__picture--end-position
                        .control__images
                            img(src="./img/control/app.webp" width="324" height="191" loading="lazy" alt="Applications")
                article.control__item 
                    .control__item-content 
                        h3.control__item-title Умные выключатели
                        p.control__item-descr 
                            | Разные сценарии на каждую кнопку: яркий, средний, тусклый, и вкл/выкл все устройства
                    .control__picture
                        .control__images
                            img(src="./img/control/tumbler.webp" width="188" height="236" loading="lazy" alt="Smart light")
                article.control__item 
                    .control__item-content 
                        h3.control__item-title Голосовое управление
                        p.control__item-descr 
                            | Если телефон или выключатель не под рукой, просто скажите "Алиса" или "Сири" и система выполнит десятки действий
                    .control__picture
                        .control__images
                            img(src="./img/control/voice.webp" width="347" height="211" loading="lazy" alt="Voice control")
                article.control__item 
                    .control__item-content 
                        h3.control__item-title Готовые сценарии
                        p.control__item-descr Десятки сценариев, с которыми Ваша жизнь станет комфортнее
                    .control__picture
                        .control__images
                            img(src="./img/control/scene.webp" width="381" height="209" loading="lazy" alt="And outher")