section.showroom#showroom
    .container 
        h2.showroom__title Приглашаем <br> в шоурум
        p.showroom__descr Мы побывали в десятках лучших шоурумах мира и каждый раз дополняли свой функционал самыми интересными решениями.
        img.showroom__img(src="./img/showroom/showroom-bg.webp", width="1300" height="730" loading="lazy" alt="Showroom place")
        .showroom__info 
            article.showroom__item 
                h3.showroom__name Узнайте про функционал
                p.showroom__text 
                    | Какие функции вам действительно необходимы, а на чем можно сэкономить.
            article.showroom__item 
                h3.showroom__name Познакомьтесь с системой
                p.showroom__text 
                    | Какие функции вам действительно необходимы, а на чем можно сэкономить.
            article.showroom__item 
                h3.showroom__name Выберите выключатели
                p.showroom__text 
                    | Какие функции вам действительно необходимы, а на чем можно сэкономить.