section.app#app
    .container 
        .app__wrapper
            h2.app__title Приложение
            .app__inner 
                article.app__item 
                    h3.app__name Управляй светом
                    p.app__descr Настраивай яркость света и цвета в любой комнате дома
                article.app__item 
                    h3.app__name Управляй климатом
                    p.app__descr Включай кондиционер, вентиляцию, настраивай нужную температуру в каждом помещении
                article.app__item 
                    h3.app__name Управляй мультимедиа
                    p.app__descr Включай все девайсы: телевизор, домашний кинотеатр, колонки с помощью телефона
                article.app__item 
                    h3.app__name Управляй безопасностью
                    p.app__descr Приложение позволит в любое время суток в любом месте контролировать безопасность квартиры, дома, дачи, гаража