section.demo
    .container
        h2.demo__title 
            | Если у вас нет времени посетить шоурум
        .demo__wrapper 
            article.demo__item 
                .demo__content
                    h3.demo__name Демонстрационный чемоданчик
                    p.demo__text Можем выехать на объект с ним и продемонстрировать как работает умный дом
                    img(src="./img/demo/bag.webp", alt="Demo bag" width="120" height="120" loading="lazy") 
            article.demo__item 
                .demo__content
                    h3.demo__name Дистанционная демонстрация системы
                    p.demo__text Покажем как работает умный дом через Zoom, Skype или любой удобный вам сервис
                    img(src="./img/demo/screen.webp", alt="Demo screen" width="120" height="120" loading="lazy") 