.visit {
	&__inner {
		padding: clamp-px(16, 40);

		background: url(../img/showroom/showroom-icon.webp),
			linear-gradient(
				309deg,
				rgba(0, 240, 255, 0) 0%,
				rgba(0, 178, 255, 0.3) 100%
			),
			linear-gradient(
				127deg,
				rgba(255, 153, 0, 0) 0%,
				rgba(255, 153, 0, 0.3) 100%
			),
			#e8e8e8;
		background-repeat: no-repeat;
		backdrop-filter: blur(11px);
		border-radius: $radius-large;
	}

	&__title {
		@extend %title-style;

		max-width: 596px;
		margin: 0 auto;
		margin-bottom: clamp-px(30, 64);

		font-size: clamp-px(22, 38);
		text-align: center;
	}

	&__form {
		display: flex;
		gap: 16px;
		align-items: center;
		justify-content: space-between;

		margin-bottom: 8px;
	}

	&__label {
		@extend %base-text-style;

		flex-basis: 220px;
	}

	&__input {
		width: 100%;
		margin-top: clamp-px(8, 16);
		padding: 16px;
		border-radius: 8px;
	}

	&__input--date {
		height: 48px;
	}

	&__btn {
		cursor: pointer;

		display: block;
		align-self: flex-end;

		padding: 18px 55px;

		color: $color-light;

		background-color: $color-accent-btn;
		border-radius: $radius-base;

		transition: background-color 0.3s ease-in-out;

		@media (any-hover: hover) {
			&:hover {
				background-color: darken($color-accent-btn, 7);
			}
		}
	}
}
