extends ./default/_default

block hero-content
    include ./components/header/header
    include ./components/modal/modal
    include ./components/hero/hero

block main-content
    include ./components/about/about
    include ./components/time/time
    include ./components/control/control
    include ./components/auto/auto
    include ./components/sensors/sensors
    include ./components/company/company
    include ./components/showroom/showroom
    include ./components/visit/visit
    include ./components/demo/demo

block footer-content
    include ./components/footer/footer