section.auto 
    .container 
        .auto__inner
            .auto__info
                h2.auto__title ...или положитесь на автоматизации
                p.auto__descr для запуска автоматизаций используются датчики, которые размещаются там, где вам они необходимы
            .auto__wrapper
                .auto__demo 
                    .auto__item 
                        span.auto__text Если
                        .auto__block 
                            .auto__block-container 
                                p.auto__block-text датчик <br> движения
                                p.auto__block-symbol =
                                p.auto__block-text уловил <br> движение
                            span.auto__block-action с 10:00 до 20:00
                    .auto__item 
                        span.auto__text Действие
                        .auto__block 
                            .auto__block-container 
                                p.auto__block-text свет в прихожей
                                p.auto__block-symbol =
                                p.auto__block-text включить
                            span.auto__block-action яркость 50%
                        .auto__block 
                            .auto__block-container 
                                p.auto__block-text музыка
                                p.auto__block-symbol =
                                p.auto__block-text включить
                            span.auto__block-action громкость 15%
                .auto__demo
                    .auto__item 
                        span.auto__text Если
                        .auto__block 
                            .auto__block-container 
                                p.auto__block-text движение <br> меньше 5%
                                p.auto__block-symbol =
                                p.auto__block-text 30 сек
                            span.auto__block-action в течение 3 минут
                    .auto__item 
                        span.auto__text Действие
                        .auto__block 
                            .auto__block-container 
                                p.auto__block-text свет в прихожей
                                p.auto__block-symbol =
                                p.auto__block-text выключить
                        .auto__block 
                            .auto__block-container 
                                p.auto__block-text музыка
                                p.auto__block-symbol =
                                p.auto__block-text выключить