footer.footer#footer
    .container 
        .footer__wrapper 
            .footer__left-block 
                a.footer__logo-link(href="index.html") 
                    span MiMi
                    | Smart
                ul.footer__socials 
                    li.footer__item 
                        a.footer__icon-link(href="#" aria-label="Lint to telegram") 
                            +svg("social--telegram", "footer__icon", 30, 30)
                    li.footer__item 
                        a.footer__icon-link(href="#" aria-label="Link to Instagram") 
                            +svg("social--instagram", "footer__icon", 30, 30)
                    li.footer__item 
                        a.footer__icon-link(href="#" aria-label="Link to youtube") 
                            +svg("social--youtube", "footer__icon", 33, 33)
            .footer__right-block 
                .footer__contacts 
                    span.footer__name Контакты
                    a.footer__link.footer__link--phone(href="tel:123123123") 8 800 505-20-53
                    a.footer__link.footer__link--mail(href="mailto:msk@mimismart.ru") msk@mimismart.ru
                .footer__contacts
                    span.footer__name Как к нам добраться?
                    address.footer__place 
                        | г. Москва,<br> Новоданиловская наб. 6к1