section.time
    .container 
        .time__inner 
            span.time__notes на всю нашу продукцию
            h2.time__title 5 лет гарантии
            p.time__descr Самая длительная гарантия на рынке и круглосуточная поддержка по любым вопросам
            button.time__btn(type="button") Рассчитать стоимость