@media (max-width: 778px) {
	.time {
		&__descr {
			max-width: 310px;
		}
	}
}

@media (max-width: 625px) {
	.time {
		&__inner {
			padding: 22px;

			background: url(../img/time/time-bg.webp);
			background-repeat: no-repeat;
			background-position: 30% 100%;
			background-size: cover;
		}

		&__descr {
			max-width: 100%;
		}

		&__btn {
			color: $color-light;
		}
	}
}
