header.header
    .container
        .header__inner
            a.header__logo-link(href="index.html") 
                span MiMi
                | Smart
            nav.header__nav
                ul.header__list
                    li.header__item
                        a.header__link(href="#about") Функционал
                    li.header__item
                        a.header__link(href="#control") Комплексные решения
                    li.header__item
                        a.header__link(href="#sensors") Оборудование
                    li.header__item
                        a.header__link(href="#app") Приложение
                    li.header__item
                        a.header__link(href="#company") О нас
                    li.header__item
                        a.header__link(href="#showroom") Шоурум
            a.header__phone-link(href="tel:1231231")
                | +7 495 189-69-67
            include ../burger-menu/burger-menu
