section.sensors#sensors
    .container
        .sensors__inner
            h2.sensors__title Наши датчики
            .sensors__content 
                article.sensors__type 
                    h3.sensors__name Датчик движения
                    p.sensors__descr Самый маленький в мире.  Улавливает мельчайшие движения, даже движение пальцев. Отличают человека от кошки. Вам не придется танцевать перед датчиком.
                article.sensors__type 
                    h3.sensors__name Датчики протечки
                    p.sensors__descr Встраивается вровень в плитку. его невозможно перевернуть как накладной, не мешается под ногами и не портит вид. Пока человек находится рядом - активируется режим уборки, что исключает случайные перекрытия воды при влажной уборке.
                article.sensors__type 
                    h3.sensors__name Датчики температуры
                    p.sensors__descr Скрыты от глаз за выключателями. Определяют температуру и влажность на уровне груди сидящего человека для создания правильного микроклимата. Подойдут абсолютно любые выключатели.
            include ../../components/app/app