@media (max-width: 1024px) {
	.sensors {
		&__content {
			flex-direction: column;
		}

		&__type {
			padding: 36px;
		}

		&__type:nth-child(1),
		&__type:nth-child(2),
		&__type:nth-child(3) {
			background-size: contain;
		}

		&__type:last-child {
			padding-top: 40px;
			background-size: contain;

			.sensors__descr {
				max-width: 60%;
			}
		}
	}
}

@media (max-width: 768px) {
	.sensors {
		&__type {
			padding-top: 30px;
			background-size: contain;
		}
	}
}

@media (max-width: 530px) {
	.sensors {
		&__descr {
			max-width: 100%;
		}
		&__type:nth-child(1),
		&__type:nth-child(2),
		&__type:nth-child(3) {
			background-image: none;
		}

		&__type:last-child {
			flex-basis: 100%;

			.sensors__descr {
				max-width: 100%;
			}
		}
	}
}
