.sensors {
	&__inner {
		padding: 0 15px; //!
		padding-top: clamp-px(40, 60);

		background: url(../img/hero/hero-bg.webp),
			url(../img/sensors/sensors-bg.webp), $color-title;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		border-bottom-right-radius: $radius-large;
		border-bottom-left-radius: $radius-large;
	}

	&__title {
		@extend %title-style;

		margin-bottom: clamp-px(20, 40);
		color: $color-light;
	}

	&__content {
		display: flex;
		gap: clamp-px(20, 40);
		justify-content: space-between;
	}

	&__type {
		width: 100%;
		padding-top: clamp-px(100, 187);
		padding-right: clamp-px(12, 44);
		padding-bottom: clamp-px(12, 34);
		padding-left: clamp-px(12, 42);

		background: rgba(255, 255, 255, 0.05);
		background-repeat: no-repeat;
		background-position-x: 100%;
		background-position-y: 10%;
		backdrop-filter: blur(132px);
		border-radius: $radius-large;
	}

	&__type:nth-child(1) {
		background-image: url(../img/sensors/sensor-1.webp);
		background-position-y: 0%;
		background-size: 100px;
	}

	&__type:nth-child(2) {
		background-image: url(../img/sensors/sensor-2.webp);
		background-size: 250px;
	}

	&__type:nth-child(3) {
		background-image: url(../img/sensors/sensor-3.webp);
		background-size: 200px;
	}

	&__name {
		@extend %h3-title-style;

		margin-bottom: 12px;
		color: $color-light;
	}

	&__descr {
		@extend %base-text-style;

		max-width: 296px;
		color: $color-light;
	}
}
