section.company#company
    .container  
        h2.company__title О компании <br> HOME Smart
        p.company__descr за 17 лет мы стали самой покупаемой системой умный дом в России
        dl.company__list 
            .company__item  
                dt.company__key 
                    | реализованных проектов по всему миру на начало 2022 года
                dd.company__value 5000+
            .company__item  
                dt.company__key
                    | дизайнеров и дилеров рекомендуют систему HOME Smart
                dd.company__value 400+
            .company__item  
                dt.company__key
                    | специалистов работают над развитием продукта HOME Smart 
                dd.company__value 250+
            .company__item  
                dt.company__key
                    | успешно работающих филиалов по всему миру
                dd.company__value 50+